<div class="carouselCont mb-5">
  <app-carousel></app-carousel>
</div>

  <div class="intro mt-5">
    <div class="px-5 d-flex flex-column align-items-center">
      <div class="title pb-2 border-bottom">
        <h1>Conócenos</h1>
      </div>
      <div class="my-5 text-center">
        <span class="">
          Bienvenidos a nuestro estudio de tatuajes, un espacio donde el arte y la pasión se entrelazan desde 2001. Somos una casa de tatuajes con una larga historia de dedicación y creatividad, donde transformamos ideas en obras maestras en la piel.
          <br>
          <br>
          Con más de dos décadas de experiencia, nos enorgullece haber dejado una huella imborrable en la industria del tatuaje. Nuestro equipo de artistas talentosos y comprometidos ha perfeccionado su oficio a lo largo de los años, dominando diversas técnicas y estilos para ofrecer un amplio abanico de posibilidades a nuestros clientes.
          <br>
          <br>
          En nuestro estudio, la calidad y la seguridad son nuestra máxima prioridad. Cumplimos estrictos estándares de higiene y utilizamos equipos de última generación para garantizar la máxima seguridad y comodidad de nuestros clientes.
          <br>
          <br>
          Aquí, cada tatuaje es una historia única y personalizada. Nos apasiona escuchar tus ideas y convertirlas en diseños de tatuajes que reflejen tu individualidad y estilo. Ya sea que busques un diseño minimalista y elegante o un arte intrincado y detallado, estamos listos para hacer realidad tu visión.
        </span>
      </div>
      <div class="title pb-2 border-bottom">
        <h1>Nuestros Artistas</h1>
      </div>
    </div>
  </div>

  <div class="artistasCont"  >
    <div *ngFor=" let a of arrArtistas">
      <app-artistas2 [artista]="a"></app-artistas2>
    </div>

  </div>
