<h1>PIDE TU CITA</h1>
<div class="container">
  <form [formGroup]="formularioCita" (ngSubmit)="registrarCita()">
    <div *ngIf="formularioCita.get('fecha_cita')?.hasError('sabadoInvalido')" class="error">Los sábados cerramos por descanso</div>
      <div class="form-group">
        <label for="tatuador">Tatuador</label>
        <select formControlName="tatuador" id="tatuador" (change)="cambiarTatuajesTatuador()" required>
          <option *ngFor="let artista of artistas; let i = index">{{artista.nombre}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tamano">Tamaño</label>
        <select formControlName="tamano" id="tamano" (change)="cambiarHora()" (change)="cambiarTatuajesTamano()" required>
          <option value="Pequeño">Pequeño (4x4 cm)</option>
          <option value="Mediano">Mediano (10x10 cm)</option>
          <option value="Grande">Grande (>10x10 cm)</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tatuaje">Tatuaje</label>
        <select formControlName="tatuaje" id="tatuaje" (change)="seleccionarTatuaje()" required>
          <option value="" >Elige una opción</option>
          <option *ngFor="let t of tattooFiltrado; let i = index">{{tattooFiltrado[i].nombre}}</option>
        </select>
      </div>
      <div class="form-group" >
        <label for="fecha_cita">Elige una fecha</label>
        <input type="date" formControlName="fecha_cita" id="fecha_cita" min={{fecha_actual}} required>
      </div>
      <div class="form-group">
        <label for="hora_cita">Elige una hora</label>
        <select formControlName="hora_cita" id="hora_cita">
          <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
        </select>
      </div>
      <div class="boton">
        <button type="submit" class="btn btn-warning"  [disabled]="formularioCita.get('fecha_cita')?.invalid">Pedir cita</button>
      </div>

    </form>
    <div *ngIf="tattooSeleccionado">
      <img  class="imagen" [src]="imagenTatuajeSeleccionado">
      <p class="precio">Precio: {{precioTatuajeSeleccionado}}€</p>
    </div>

</div>
