
    <div class="contenedor2">
      <div class="card" *ngIf="tattoN" >
        <p class="card-text">
          Nombre artista:{{tattoN.artista.nombre}}
        <img class="imagen" [src]="tattoN.imagen" >
        <div class="card-body">
          <p class="card-text">
            Descripcion: {{tattoN.descripcion}}</p>
          </div>
          <button (click)="regresar()">Volver a galeria</button>
         <!--boton para pedir cita-->
          <button (click)="regresar()">Pedir Cita</button>
      </div>
    </div>

