<div class="contenedor">
  <button (click)="filtrarTodos()">Todos</button>
  <div *ngFor="let artista of artistas; let i = index">
  <button (click)="filtrarPorArtista(i)">{{artista.nombre}}</button>
</div>
</div>
<br>
<div class="contenedor">
  <div>
    <button (click)="filtrarPorTamano('Grande')">Grande</button>
    <button (click)="filtrarPorTamano('Mediano')">Mediano</button>
    <button (click)="filtrarPorTamano('Pequeño')">Pequeño</button>
</div>
</div>
<div class="contenedor2" >
  <div *ngFor="let fotos of tattoFiltrado ">
    <div class="card" *ngIf="!fotos.tattooPropio">
          <a [routerLink]="['/tatto',fotos.idTattoo]">
          <img class="imagen" [src]="fotos.imagen" [alt]="fotos.nombre">
        </a>
    </div>
  </div>
</div>
