<div class="contenedor tamano">
  <button [ngClass]="{'active': activeButton === 'Todos'}" (click)="filtrarTodos('Todos')">Todos</button>
  <div *ngFor="let artista of artistas; let i = index">
  <button [ngClass]="{'active': activeButton === artista.nombre}"  (click)="filtrarPorArtista(i)">{{artista.nombre}}</button>
</div>
</div>
<br>
<div class="contenedor tamano">
  <div>
    <button [ngClass]="{'active': activeButton === 'Grande'}" (click)="filtrarPorTamano('Grande')">Grandes</button>
    <button [ngClass]="{'active': activeButton === 'Mediano'}" (click)="filtrarPorTamano('Mediano')">Medianos</button>
    <button [ngClass]="{'active': activeButton === 'Pequeño'}" (click)="filtrarPorTamano('Pequeño')">Pequeños</button>
</div>
</div>
<div class="contenedor2" >
  <div *ngFor="let fotos of tattoFiltrado ">
    <div class="card" *ngIf="!fotos.tattooPropio">
          <a [routerLink]="['/tatto',fotos.idTattoo]">
          <img class="imagen" [src]="fotos.imagen" [alt]="fotos.nombre">
        </a>
    </div>
  </div>
</div>
