.contenedor{
  width: inherit;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.contact-info{
  background-color: black;
  width: 50%;
  margin-top: 50px;
  border-radius: 10px;
}
.h2{
  align-items: center;
}
.text{
  width: 100%;
  padding:10px ;
 justify-content: center;
}
