<div class="contenedor">
  <div class="contact-info">
    <div class="contact-info text">
      <h2>Contacto</h2>
      <p><i class="fas fa-map-marker-alt"></i> Calle Principal 123, Madrid, España</p>
      <i class="fas fa-phone"></i> +34 637478234
      <p><strong>Correo electrónico:</strong> info@example.com</p>
      <div class="social-media">
        <h3>Síguenos en redes sociales:</h3>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <h3>@IGtattoo</h3>
      </div>
    </div>
  </div>
  <div class="map">

  </div>
</div>
