<h1>PIDE TU CITA</h1>
<form [formGroup]="formularioCita" (ngSubmit)="registrarCita()">
    <div class="form-group">
        <label for="tamano">Tamaño</label>
        <select formControlName="tamano" id="tamano" (change)="cambiarHora()" required>
          <option value="pequeño">Pequeño (4x4 cm)</option>
          <option value="mediano">Mediano (10x10 cm)</option>
          <option value="grande">Grande (>10x10 cm)</option>
        </select>
      </div>
    <div class="form-group">
        <label for="descripcion" required>Descríbenos tu tatuaje:</label>
        <input type="text" name="descripcion" id="descripcion" placeholder="Escribe aquí">
    </div>
    <div class="form-group">
        <label for="subir_foto">Sube una foto de referencia (si tienes):</label>
        <!-- accept define las extensiones aceptadas. multiple permite seleccionar mas de una foto -->
        <input type="file" name="subir_foto" id="subir_foto" accept=".jpg,.png,image/jpeg,image/png" multiple="multiple">    
    </div>
    <div class="form-group">
        <label for="fecha_cita">Elige una fecha:</label>
        <input type="date" name="fecha_cita" id="fecha_cita" formControlName="fecha_cita" required>
    </div>
    <div class="form-group">
        <label for="hora_cita">Elige una hora</label>
        <select formControlName="hora_cita" id="hora_cita">
          <option *ngFor="let hora of horasDisponibles" [value]="hora">{{ hora }}</option>
        </select>
      </div>
    <div class="boton">
        <button type="submit" class="btn btn-warning">Pedir cita</button>
    </div>
</form>