<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container w-75">
<div class="row flex-lg-nowrap">
<div class="col ">
<div class="row">
<div class="col mb-3">
<div class="card">
<div class="card-body">
<div class="e-profile">
<div class="row">
<div class="col d-flex flex-column flex-sm-row justify-content-center mb-3">
<div class="text-center text-sm-left mb-2 mb-sm-0">
<h6>Hola:</h6>
<h3 class="pt-sm-2 pb-1 my-0 text-nowrap">{{usuario.nombre}}</h3>
</div>
</div>
</div>
<ul class="nav nav-tabs">
<li class="nav-item"><a href="" class="active nav-link">Opciones</a></li>
</ul>
<div class="tab-content pt-3">
<div class="tab-pane active">
<form class="form" novalidate="">
<div class="row">
<div class="col">
<div class="row">
<div class="col">
<div class="form-group">
<label>Username</label>
<input class="form-control" type="text" name="username" placeholder="n_usuario" value="{{usuario.nombre}}">
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label>Email</label>
<input class="form-control" type="text" placeholder="user@example.com" value="{{usuario.email}}">
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-12 col-sm-6 mb-3">
 <div class="mb-2"><b>Cambiar contrañesa</b></div>
<div class="row">
 <div class="col">
<div class="form-group">
<label>Contraseña actual</label>
<input class="form-control" type="password">
 </div>
 </div>
 </div>
 <div class="row">
 <div class="col">
<div class="form-group">
<label>Nueva Contraseña</label>
<input class="form-control" type="password">
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="form-group">
<label>Confirmar contraseña</label>
<input class="form-control" type="password"></div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col d-flex justify-content-end">
<button class="btn btn-primary" type="submit">Save Changes</button>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
 </div>
 </div>


</div>
</div>