.form-title {
    padding-top: 4rem;
    text-align: center;
    font-size: 50px;
}
form {
    width: 30rem;
    color: #fff;
    padding: 20px;
    margin:auto;
}
.form-group{
    margin-top: 1rem;
}
#fecha_nacimiento{
    margin: 1rem;
    margin-left: 3rem;
}
.boton{
    text-align: center;
    margin-top: 3rem;
}
.ya_cuenta {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}